.contact-container{
    padding: 5vw 0;
}

.c-top-text h1{
    text-align: center;
    font-size: 38px;
    font-weight: 800;
    text-transform: uppercase;
}

/* ================ contact form ================ */

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7vw;
}

.contact-text{
    padding-top: 4vw;
}

/* =============== form ============= */

.n-e{
    display: flex;
    gap: 5vw;
}

.n-e .name-div input{
    width: 50vh;
    height: 6vh;
    font-size: 17px;
    padding-left: .8vh;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.n-e .name-div h3{
    padding-bottom: 1vh;
}

.n-e .email-div input{
    width: 50vh;
    height: 6vh;
    font-size: 17px;
    padding-left: 1vh;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.n-e .email-div h3{
    padding-bottom: 1vh;
}

.subject{
    padding-top: 2vw;
}

.subject h3{
    padding-bottom: 1vh;
}

.subject input{
    width: 100%;
    height: 7vh;
    font-size: 17px;
    padding-left: 1vh;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.message{
    padding-top: 2vw;
}

.message h3{
    padding-bottom: 1vh;
}

.message textarea{
    width: 100%;
    height: 18vh;
    font-size: 17px;
    padding-left: .8vh;
    padding-top: .8vh;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.send-button{
    padding-top: 2vw;
}

.send-button button{
    background-color: var(--color-purple);
    border: 2px solid var(--color-purple);
    border-radius: 5px;  
    padding: 12px 35px;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
    transition: all 400ms ease-in-out;
    font-size: 15px;
}

.send-button button:hover{
    background: #fff;
    color: #000;
}