.portfolio-container{
    padding: 5vw 0;
}

.portfolio-text h1{
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-black);
}

/* ======================== portfolio cards ====================== */

.portfolio-cards{
    display: flex;
}