.services-container{
    padding: 7vw 0;
}

.service-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service-text h1{
    font-size: 45px;
    font-weight: 700;
    color: var(--color-black);
}

.service-text p{
    padding-top: 2vh;
    padding: 2vh 20vw 0 20vw;
    font-size: 17px;
    color: var(--color-para);
    text-align: center;
    line-height: 1.6;
}


/* ================ Service Cards =============== */

.service-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6vw 6vw 3vw 6vw;
    gap: 3vw;
}

.service-card{
    padding: 3vw 2vw;
    background: var(--card-background);
    text-align: center;
    align-items: center;
    transition: all 500ms ease;
    cursor: pointer;
}

.service-card:hover{
    background: var(--card-background-hover);
    box-shadow: 0 10px 20px var(--box-shadow-color);
}

.service-card h2{
    font-size: 20px;
    font-weight: 600;
    padding: 4vh 0 2vh 0;
    color: var(--color-black);
}

.service-card p{
    line-height: 1.6;
    color: var(--card-color-para);
    padding: 1vh 0;
}