.skills-container{
    padding: 2vw 0 0 0;
}

.skills-text{
    text-align: center;
}

.skills-text h1{
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-black);
}


/* ============ skills images ============= */
.skills-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
    padding: 4vw 12vw;
}

.skills-images img{
    width: 70px;
    height: 70px;
    border-radius: 2%;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.skills-images > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border: 2px solid #333333;
    border-radius: 5px;
}

.skills-images > div h2{
    padding-left: 3vh;
}

.skills-images > div > div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills-images > div > div h3{
    padding-right: 2vh;
}