*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    line-height: 1.3;
}

:root{
    --color-background: #fefefe;
    --color-purple: #555ed6;
    --color-black: #000;
    --box-shadow-color: #9ea5ff;
    --card-background: #f0f0f0;
    --card-background-hover: #fff;
    --card-color-para: #a1a1a1;
    --color-para: #9c9c9c;

}

body{
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #000000;
    background: var(--color-background) url(./images/body.png) no-repeat center center;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}


/* ================= Resposive ================== */

@media (max-width: 1080px){

    /* ================ banner ============== */

    .banner-container{
        gap: 4vw;
        padding: 5vw;
    }

    .b-text-h3{
        font-size: 32px;
    }

    .b-text-h1{
        font-size: 40px;
    }

    .b-text-h2{
        font-size: 25px;
    }


    /* ================ about ============== */

    .about-container{
        gap: 7vw;
        padding: 5vw;
    }

    .about-text h2{
        font-size: 27px;
    }

    .about-image img{
        width: 420px;
    }

    /* ================ skills ============== */

    .skills-images > div{
        width: 40vh;
    }

    /* ================ contact ============== */

    .icon{
        font-size: 75px;
    }

    .contact p{
        font-size: 25px;
    }

}

@media (max-width: 850px){

    /* ================ banner ============== */

    .banner-container{
        padding: 15vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10vw;
    }

    .b-text-h1{
        padding: 2vh 0;
    }

    .b-image img{
        width: 450px;
    }

    /* ================ about ============== */

    .about-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 8vw 10vw;
        gap: 3vw;
    }

    .about-image img{
        width: 450px;
    }

    /* ================ services ============== */

    .service-text h1{
        font-size: 5vw;
    }

    .service-text p{
        padding: 2vw 13vw;
    }

    .service-cards{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 7vw 22vw 3vw 22vw;
    }

    .service-card{
        padding: 2vw;
    }
    
    .service-card p{
        padding: 2vw;
    }

    /* =================== skills =================== */

    .skills-images{
        padding-top: 6vw;
        display: grid;
        grid-template-columns: 1fr;
        padding: 6vw 12vw 0 20vw;
    }

    .skills-images > div{
        width: 75vh;
    }

    /* ================ contact ============== */

    .contact p{
        font-size: 20px;
    }

    .icon{
        font-size: 50px;
    }

}

@media (max-width: 500px){
    
    /* ================ banner ============== */
    
    .banner-container{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8vw; 
        gap: 22vw;
    }

    .b-text-h3{
        font-size: 22px;
    }

    .b-text-h1{
        font-size: 32px;
    }

    .b-text-h2{
        font-size: 22px;
        padding-bottom: 4vw;
    }

    .b-image img{
        width: 340px;
    }

    /* ================ about ============== */

    .about-container{
        padding: 15vw 10vw;
        gap: 15vw;
    }

    .about-image img{
        width: 340px;
    }

    /* ================ services ============== */

    .service-text h1{
        font-size: 7vw;
    }

    .service-text p{
        padding: 2vw 5vw;
    }

    .service-cards{
        display: flex;
        flex-wrap: wrap;
        padding: 7vw 12vw 3vw 12vw;
        gap: 5vw;
    }

    .service-card{
        padding: 5vw 0;
    }

    .service-card h2{
        padding: 2vh 0 1vh 0;
    }

    .service-card p{
        padding: 2vw 3vw 4vw 3vw;
    }

    /* =================== skills =================== */

    .skills-container{
        padding: 10vw 0;
    }

    .skills-text h1{
        padding-bottom: 5vw;
        font-size: 35px;
    }

    .skills-images{
        padding: 6vw 12vw 0 12vw;
    }

    .skills-images > div h2{
        font-size: 4vh;
    }

    /* ================ contact ============== */

    .contact-container{
        padding-bottom: 5vw;
    }

    .c-top-text h1{
        font-size: 35px;
    }

    .contact{
        padding: 5vw 2vh 50vw 2vh;
        gap: 3vw;
        height: 3vw;
    }

    .contact p{
        font-size: 18px;
    }

    .icon{
        font-size: 38px;
    }

}

@media (max-width: 350px){
    .b-image img{
        width: 290px;
    }

    .b-buttons .btn-1 button,
    .b-buttons .btn-2 button{
        font-size: 13px;
    }

    /* ================ about ============== */

    .about-image img{
        width: 290px;
    }

    .about-text h2{
        font-size: 22px;
    }

    /* ================ services ============== */

    .service-cards{
        padding: 7vw;
    }

    .service-text h1{
        font-size: 25px;
    }

    .service-text p{
        font-size: 14px;
        padding: 2vw 7vw;
    }

    .skills-images{
        padding: 6vw 12vw 0 12vw;
    }

    /* ================ skills ============== */

    .skills-images > div{
        width: 65vh;
    }

    .skills-images > div > div h3{
        font-size: 3.5vh;
    }

    /* ================ contact ============== */

    .contact{
        padding-bottom: 60vw;
    }

    .contact p{
        font-size: 15px;
    }

}